body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

*{
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;  
}

nav li{
    margin:0 10px 0 20px;
}


ul#herbergementetactivite {
    display: flex;
}


a{
    display: flex;
    align-items: center;
}

p#recherche{
    display: flex;
    align-items: center;
}



.hebergement-activite :hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 45px;
}  

    
    
i.fa-solid.fa-location-dot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 40px;
    height: 40px;
    color: black;
}

i.fa-solid.fa-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

input#text{
    width: 200px;
    height: 40px;
}

#recherche{
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    width: 80px;
    height: 40px;
    color: #fff;
}

.filtres{
    display: flex;
    align-items: center;   
}



i.fa-solid.fa-money-bill-wave{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #DEEBFF;
}

i.fa-solid.fa-child{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 1px;
    width: 40px;
    height: 40px;
    background-color: #DEEBFF;
}

i.fa-solid.fa-heart{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 1px;
    width: 40px;
    height: 40px;
    background-color: #DEEBFF;
}

i.fa-solid.fa-dog{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 1px;
    width: 40px;
    height: 40px;
    background-color: #DEEBFF;
}



.info{
    display: flex;
    align-items: center;
}

.fa-info{
    color: #0065FC;
    border: solid grey 1px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

p#economique{
    border: solid 2px #808080;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
    height: 30px;
    display: flex;
    align-items: center;
}

p#familial{
    border: solid 2px #808080;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
    height: 30px;
    display: flex;
    align-items: center;
}

p#romantique{
    border: solid 2px #808080;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
    height: 30px;
    display: flex;
    align-items: center;
}

p#animaux{
    border: solid 2px #808080;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
    height: 30px;
    display: flex;
    align-items: center;
}



#grand_titre{
    display: inline;
    text-align: center;
    font-size: 20px;
    margin-left: 3em;
    z-index: -5px  ;
}

li:hover{
    color: #0044ffa9;
}

a{
    color: #808080;
    text-decoration: none;
}

.hebergementmarseille{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color:#F2F2F2;
    margin:  20px;
    padding-top: 20px;
    gap: 35px 5px;
    border-radius: 20px;
    
}

section#hebergement{
   width: 70%;
}

.content-herbergement-populaire{
    display: flex;
}

.petit_block{
    background-color: #ffffff;
    width: 30%;
    border: solid rgb(255, 255, 255) 4px;
    border-radius: 20px;
}

i.fa-solid.fa-star{
    color: #0065FC;
}


section#populaire{
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 20px;
}

.pluspopulaire{
    display:flex;
    flex-direction: column;
    justify-content: right;
    background-color: #F2F2F2;
    border:solid #F2F2F2 4px;
    border-radius: 20px;
    margin-top: 100px
}

.block_13{
    width: 50%;
}

.hebergementmarseille img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.content-herbergement-populaire img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}

.content-herbergement-populaire p h5{
    display: flex;
    flex-direction: row;
}

.hebergementmarseille p{
    display: flex;
    
}

article#block_13 {
    display: flex;
}

article#block_14 {
    display: flex;
}

article#block_15 {
    display: flex;
}

article#block_16 {
    display: flex;
}

i#etoile-grise{
    color: grey;
}

.Activitesmarseille img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
}


.Activitesmarseille .block{
    width: 25%;
}



.Activitesmarseille
{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;
}

.petit_block2{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    padding-top: 10px;
    border: solid rgb(255, 255, 255) 4px;
    border-radius: 20px;
}

#block_7{
    display: flex;
    align-items: stretch;
} 

#block_8{
    display: flex;
    
}

footer{
    height: 150px;
    width: 100%;
    background-color: #F2F2F2;
    bottom: 0;
}

#droite{
    text-align: left;
    display: inline;
}

#milieu{
    text-align: center;
    display: inline;
}

#gauche{
    text-align: right;
    display: inline;
}
.baspage{
    display: flex;
    justify-content: space-around;
}

